.globallocation {
    height: 100vh;
    overflow: hidden;
}

.side-location-div {
    height: auto;
    background-color: #D1D1D1;
    overflow-y: scroll;
}

.location-card {
    height: auto;
    border-bottom: 1px solid grey !important;
    background-color: #D1D1D1;
    margin: 0%;
    padding: 0%;
}

.location-card b {
    font-size: 12px;
}

.location-card p {
    font-size: 12px;
}

/* Search component */

.input-search {
    width: 70%;
    padding: 1%;
    border: 1px solid #D1D1D1;
}

.side-div {
    height: 900px;
    overflow-y: scroll;
}

.search-div {
    background-color: #F7F7F7;
}

.search-button {
    padding: 1%;
    width: 110px;
    height: 36px;
    font-size: 16px;
    background-color: #E51636;
    color: white;
    border: none;
    font-weight: 700;
    margin-left: 4px;
}


.location-card.highlighted {
background-color: #646464 !important;
  color: white; /* Dodajte boju teksta koja vam odgovara */
}

/* Map marker text */

.marker-text {
    width: 100%;
}

.marker-text p {
    width: 100%;
    font-size: 10px;
}