.footer-global {
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  background-color: #424242;
  height: auto;
  z-index: 999999;
  padding: 0% 1% 1% 1%;
}

/* Footer container */

.footer-container-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #727272;
  padding: 0% 0% 1% 0%;
}

.footer-card {
  width: 20%;
  color: white;
  padding: 1% 0% 0% 4%;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.footer-card a {
  color: lightgrey;
  font-size: 12px;
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-card a:hover {
  text-decoration: underline;
}

.footer-card-award {
  background-image: url("../../resources/AceRewardsFooter.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 200px;
  height: 240px;
  align-items: center;
}

.footer-card-award .learn-more-link {
  text-align: center;
  text-decoration: underline;
  color: white;
  position: absolute;
  top: 22%;
  right: 15.5%;
}

.footer-card-award .join-now-link {
  text-align: center;
  text-decoration: underline;
  color: white;
  position: absolute;
  top: 22%;
  right: 11%;
}

/* Secound row */

.footer-card-secound {
  width: 30%;
  color: white;
  padding: 1% 0% 0% 4%;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.light-box {
  padding: 0% 0% 2% 0%;
}
.input-contact {
  width: 60%;
}
.button-mail {
  width: 70px;
  height: 38px;
  color: white;
  text-align: center;
  align-items: center;
  border: none;
  background-color: #d40029;
}


/* Privacy */


.privacy-text {
    text-align: center;
    justify-content: center;
}

.privacy-text p {
    font-weight: bold;
    color: #CDCDCD;
    font-size: 13px;
}

.privacy-text-global p {
    font-weight: bold;
    color: #CDCDCD;
    font-size: 13px;
}